services:
  webapp:
    image: docker.io/{{ dockerhub_username }}/containerized-webapp:latest
    container_name: webapp-app
    restart: unless-stopped
    ports:
      - "{{ app_port }}:5000"
    env_file:
      - .env 
    depends_on:
      - cache
    networks: 
      - backend

  cache:
    image: docker.io/library/redis:7-alpine
    container_name: webapp-redis
    restart: unless-stopped
    volumes:
      - redis_data:/data 
    networks:
      - backend 

volumes:
  redis_data:

networks:
  backend:
    driver: bridge

